Calculate/WebContent/wsdl/calculation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CalculationService" targetNamespace="http://ws.testing.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.testing.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
<import namespace="http://ws.testing.com/" schemaLocation="calculation_schema1.xsd"/>
</schema>
  </wsdl:types>
  <wsdl:message name="Divide">
    <wsdl:part name="parameters" element="tns:Divide">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Subtract">
    <wsdl:part name="parameters" element="tns:Subtract">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MultiplyResponse">
    <wsdl:part name="parameters" element="tns:MultiplyResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Add">
    <wsdl:part name="parameters" element="tns:Add">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DivideResponse">
    <wsdl:part name="parameters" element="tns:DivideResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Multiply">
    <wsdl:part name="parameters" element="tns:Multiply">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddResponse">
    <wsdl:part name="parameters" element="tns:AddResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SubtractResponse">
    <wsdl:part name="parameters" element="tns:SubtractResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CalcSEI">
    <wsdl:operation name="Multiply">
      <wsdl:input name="Multiply" message="tns:Multiply">
    </wsdl:input>
      <wsdl:output name="MultiplyResponse" message="tns:MultiplyResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input name="Add" message="tns:Add">
    </wsdl:input>
      <wsdl:output name="AddResponse" message="tns:AddResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subtract">
      <wsdl:input name="Subtract" message="tns:Subtract">
    </wsdl:input>
      <wsdl:output name="SubtractResponse" message="tns:SubtractResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <wsdl:input name="Divide" message="tns:Divide">
    </wsdl:input>
      <wsdl:output name="DivideResponse" message="tns:DivideResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalculationServiceSoapBinding" type="tns:CalcSEI">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Multiply">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="Multiply">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="MultiplyResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="Add">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AddResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subtract">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="Subtract">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="SubtractResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="Divide">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="DivideResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalculationService">
    <wsdl:port name="CalculationPort" binding="tns:CalculationServiceSoapBinding">
      <soap:address location="http://localhost/Calculate/services/CalculationPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
